<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<!-- 移动端适配 -->
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<title>购物车</title>

	<link rel="stylesheet" type="text/css" href="../css/del.css">
	<link rel="stylesheet" type="text/css" href="../css/btn_nav.css">
	<link rel="stylesheet" type="text/css" href="../css/cart.css">
</head>
<body>
<div class="box">
		<div class="nav">购物车</div>

		<div class="content">
			<div class="item">
				<div id="goods1" class="l-box checkbox">
					<input class="btn" type="checkbox" name="">
				</div>

				<div class="c-box">
					<img class="auto-img" src="../images/ptimg.jpg">
				</div>

				<div class="r-box">
					<p class="top">
						<span>AEM001产品产品产品产品产品产品</span>
						<span>
							$2.69
						</span>
					</p>
					<p class="center">颜色分类:不锈钢色</p>
					<p class="bottom">
						<span>
							<button>-</button>
							<input type="" name="" value="1">
							<button>+</button>
						</span>
						<span>
							<img class="auto-img" src="../images/deleteicon.png">
						</span>
					</p>
				</div>
			</div><div class="item">
				<div id="goods2" class="l-box checkbox">
					<input class="btn" type="checkbox" name="">
				</div>

				<div class="c-box">
					<img class="auto-img" src="../images/ptimg.jpg">
				</div>

				<div class="r-box">
					<p class="top">
						<span>AEM001产品产品产品产品产品产品</span>
						<span>
							$2.69
						</span>
					</p>
					<p class="center">颜色分类:不锈钢色</p>
					<p class="bottom">
						<span>
							<button>-</button>
							<input type="" name="" value="1">
							<button>+</button>
						</span>
						<span>
							<img class="auto-img" src="../images/deleteicon.png">
						</span>
					</p>
				</div>
			</div><div class="item">
				<div id="goods3" class="l-box checkbox">
					<input class="btn" type="checkbox" name="">
				</div>

				<div class="c-box">
					<img class="auto-img" src="../images/ptimg.jpg">
				</div>

				<div class="r-box">
					<p class="top">
						<span>AEM001产品产品产品产品产品产品</span>
						<span>
							$2.69
						</span>
					</p>
					<p class="center">颜色分类:不锈钢色</p>
					<p class="bottom">
						<span>
							<button>-</button>
							<input type="" name="" value="1">
							<button>+</button>
						</span>
						<span>
							<img class="auto-img" src="../images/deleteicon.png">
						</span>
					</p>
				</div>
			</div>
		</div>


		<!-- 结算按钮 -->
			<div class="jies">
				<div class="l-box fl">
					<p><span id="all" class="checkbox"><input type="checkbox" name=""></span>全选</p>
					<p>
						<span class="t-box">合计:<i>$ 20:00</i></span>
						<span class="b-box">不含运费</span>
					</p>
				</div>
				<div class="r-box fl">结算</div>
			</div>
		<!-- end 结算按钮 -->
	<!-- 底部导航条 begin -->
		<!-- 底部导航条 begin -->
		<ul class="nav-end">
			<a href="../index.html"><li>首页</li></a>
			<a href="./goods.html"><li>商品</li></a>
			<a href="./classy.html"><li>分类</li></a>
			<a href="javascript:;"><li>购物车</li></a>
			<a href="./mypage.html"><li>我的</li></a>
		</ul>
		

		<!-- 底部导航条 end -->
</div>


<script type="text/javascript" src="../js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="../js/cart.js"></script>
</body>
</html>