<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<!-- 移动端适配 -->
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<link rel="stylesheet" type="text/css" href="../css/del.css">
	
	<link rel="stylesheet" type="text/css" href="../css/btn_nav.css">
	<link rel="stylesheet" type="text/css" href="../css/nav.css">
	<link rel="stylesheet" type="text/css" href="../css/goods.css">
	<title>商品页面</title>
</head>
<body>
	<div class="box">
		<!-- 头部导航条 -->
		<div class="nav-top">
			<input class="ipt" type="" name="" placeholder="搜索商品">
		</div>
		<!-- 内容区域begin -->
		<div class="content">
			
			<!-- 菜单栏 begin -->
			
			<ul  class="nav-center clearflow">
				<li>默认</li>
				<li>销量</li>
				<li>价格</li>
				<li>上新</li>
			</ul>

			<!-- 商品展示begin -->
			<ul class="ware clearflow">
				<li>
					<div>
						<img class="auto-img" src="../images/ptimg.jpg">
					</div>
					<div class="ware-name">
						商品商品商品
					</div>
					<div class="price">
						<span>￥23.00</span>
						<span>
							购买
						</span>
					</div>
				</li>
				<li>
					<div>
						<img class="auto-img" src="../images/ptimg.jpg">
					</div>
					<div class="ware-name">
						商品商品商品
					</div>
					<div class="price">
						<span>￥23.00</span>
						<span>
							购买
						</span>
					</div>
				</li>
				<li>
					<div>
						<img class="auto-img" src="../images/ptimg.jpg">
					</div>
					<div class="ware-name">
						商品商品商品
					</div>
					<div class="price">
						<span>￥23.00</span>
						<span>
							购买
						</span>
					</div>
				</li>
				<li>
					<div>
						<img class="auto-img" src="../images/ptimg.jpg">
					</div>
					<div class="ware-name">
						商品商品商品
					</div>
					<div class="price">
						<span>￥23.00</span>
						<span>
							购买
						</span>
					</div>
				</li>
				<li>
					<div>
						<img class="auto-img" src="../images/ptimg.jpg">
					</div>
					<div class="ware-name">
						商品商品商品
					</div>
					<div class="price">
						<span>￥23.00</span>
						<span>
							购买
						</span>
					</div>
				</li>
				<li>
					<div>
						<img class="auto-img" src="../images/ptimg.jpg">
					</div>
					<div class="ware-name">
						商品商品商品
					</div>
					<div class="price">
						<span>￥23.00</span>
						<span>
							购买
						</span>
					</div>
				</li>
				<li>
					<div>
						<img class="auto-img" src="../images/ptimg.jpg">
					</div>
					<div class="ware-name">
						商品商品商品
					</div>
					<div class="price">
						<span>￥23.00</span>
						<span>
							购买
						</span>
					</div>
				</li>
				<li>
					<div>
						<img class="auto-img" src="../images/ptimg.jpg">
					</div>
					<div class="ware-name">
						商品商品商品
					</div>
					<div class="price">
						<span>￥23.00</span>
						<span>
							购买
						</span>
					</div>
				</li>
				<li>
					<div>
						<img class="auto-img" src="../images/ptimg.jpg">
					</div>
					<div class="ware-name">
						商品商品商品
					</div>
					<div class="price">
						<span>￥23.00</span>
						<span>
							购买
						</span>
					</div>
				</li>
				<li>
					<div>
						<img class="auto-img" src="../images/ptimg.jpg">
					</div>
					<div class="ware-name">
						商品商品商品
					</div>
					<div class="price">
						<span>￥23.00</span>
						<span>
							购买
						</span>
					</div>
				</li>
				<li>
					<div>
						<img class="auto-img" src="../images/ptimg.jpg">
					</div>
					<div class="ware-name">
						商品商品商品
					</div>
					<div class="price">
						<span>￥23.00</span>
						<span>
							购买
						</span>
					</div>
				</li>
				<li>
					<div>
						<img class="auto-img" src="../images/ptimg.jpg">
					</div>
					<div class="ware-name">
						商品商品商品
					</div>
					<div class="price">
						<span>￥23.00</span>
						<span>
							购买
						</span>
					</div>
				</li>
				<li>
					<div>
						<img class="auto-img" src="../images/ptimg.jpg">
					</div>
					<div class="ware-name">
						商品商品商品
					</div>
					<div class="price">
						<span>￥23.00</span>
						<span>
							购买
						</span>
					</div>
				</li>
				<li>
					<div>
						<img class="auto-img" src="../images/ptimg.jpg">
					</div>
					<div class="ware-name">
						商品商品商品
					</div>
					<div class="price">
						<span>￥23.00</span>
						<span>
							购买
						</span>
					</div>
				</li>
				<li>
					<div>
						<img class="auto-img" src="../images/ptimg.jpg">
					</div>
					<div class="ware-name">
						商品商品商品
					</div>
					<div class="price">
						<span>￥23.00</span>
						<span>
							购买
						</span>
					</div>
				</li>
				
				
			</ul>
			<!-- 商品展示end -->

			</div>
		<!-- 底部导航条 begin -->
		<ul class="nav-end">
			<a href="../index.html"><li>首页</li></a>
			<a href="javascript:;"><li>商品</li></a>
			<a href="./classy.html"><li>分类</li></a>
			<a href="./cart.html"><li>购物车</li></a>
			<a href="./mypage.html"><li>我的</li></a>
		</ul>
		
	</div>
</body>
</html>